* {
  margin: 0;
}
body {
  background-color: hsl(229, 57%, 11%);
  height: 100vh;
  background-image: url("./images/bg-desktop.png");
  background-position: 0px 50vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-color: hsl(228, 56%, 26%);
  padding: 2rem;
  display: block;
  box-sizing: border-box;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 30%; */

  /* margin-top: 50%;
  margin-bottom: auto; */
  border-top-right-radius: 3rem;
  margin-right: 2rem;
}
.one > * {
  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 0.5rem;
  height: 1.5rem;
}
.two {
  border-radius: 1rem;
  padding: 2rem;
  background-color: hsl(228, 56%, 26%);

  color: rgb(206, 206, 206);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.two > * {
  margin: 1rem 0rem;
}
.bar {
  height: 1rem;
  box-sizing: border-box;

  background-color: hsl(229, 57%, 11%);
  border: 1px solid hsl(229, 57%, 11%);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.inbar {
  height: 95%;
  width: 70%;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  /* display: block;
  margin-top: auto;
  margin-bottom: auto; */
  border-radius: 0.5rem;
}
.details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: initial;
}

#logo {
  background-color: initial;
  height: initial;
  width: initial;
}
@media screen and (max-width: 375px) {
  body > * {
    margin: 0rem 0rem 2rem;
    transform: scale(0.8, 0.8);
  }
  .one {
    margin-right: 0rem;
    margin-left: 0rem;
  }
  body {
    background-image: url("images/bg-mobile.png");
    background-position: initial;
    flex-direction: column;
    justify-content: center;
  }
}
